<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My movies List</title>
</head>
<body>
    <ul>
        {% for movie in user %}
            <li>Movie Name: {{ movie['name'] }}</li>
            <li>Director: {{ movie['director'] }}</li>
            <li>Release Date:  {{ movie['year'] }}</li>
            <li>Movie Rating:  {{ movie['rating'] }}</li>
            <form method="POST" action="/users/{{ user_id }}/delete_movie/{{ movie.id }}">
                <input type="submit" value="Delete">
            </form>
            <br><br>
        {% endfor %}
    </ul>
    <hr>
    <h2>Add new Movie</h2>
    <form method="POST" action="/users/{{ user_id }}/add_movie">
        <label for="name">Movie Name:</label>
        <input type="text" id="name" name="name" required>
        <input type="submit" value="Add movie">
    </form>
</body>
</html>